div.title-bar, div.top-bar {
    background-color: #fff;
}

div.title-bar-left > img {
    margin-top: 1rem;
    margin-left: 2rem;
}

div.top-bar {
    padding-top: 2.5rem;
    padding-left: 7.5rem;
}

div.content {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h1 {
    margin-bottom: 2rem;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    h1 {
        margin-top: 2.5rem;
    }
}

p.page-not-found {
    font-size: 1.25rem;
    color: #606060;
}

a.return-home {
    margin-top: 1.5rem;
    border-radius: 4px;
}

a.return-home:link,
a.return-home:visited {
    background-color: #9b111e;
}

a.return-home:active,
a.return-home:hover,
a.return-home:focus {
    background-color: #b91423;
}
