div#off-canvas {
    background-color: #fff;
}

div#off-canvas > ul.menu {
    margin-top: 1rem;
}

div#off-canvas > ul.menu > li:first-child {
    margin-left: 1.75rem;
}

div#off-canvas > ul.menu > li {
    margin-left: 0.5rem;
}

div#off-canvas > ul.menu > li > ul.menu > li {
    margin-top: 1rem;
}

div#off-canvas > ul.menu > li > ul.menu > li > a {
    padding: 0;
    color: #000;
}

div.title-bar {
    opacity: 0.92;
    background-color: #bf1952;
}

div.title-bar-left > img {
    margin-left: 2rem;
}

div.top-bar {
    padding-left: 5rem;
    padding-right: 5rem;
    opacity: 0.92;
    background-color: #bf1952;
}

div.top-bar-right > ul.menu > li {
    background-color: #bf1952;
}

div.top-bar-right > ul.menu > li > a {
    color: #fff;
}

div.headliner {
    height: 600px;
    background-position: center;
    background-size: cover;
    background-color: #000;
}

div.headliner .cell:first-child {
    margin-top: 7rem;
}

div.headliner p {
    line-height: 5rem;
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    div.headliner .cell {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    div.headliner p {
        width: 15rem;
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

/* medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    div.headliner .cell:first-child {
        margin-top: 5rem;
    }

    div.headliner .cell {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    div.headliner p {
        width: 25rem;
    }
}

/* large and up */
@media screen and (min-width: 64em) {
    div.headliner .cell {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    div.headliner p {
        width: 50rem;
    }
}

h1.title {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    h1.title {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }
}

div.footer {
    margin-top: 2.5rem;
    height: 100px;
    background-color: #bf1952;
    color: #fff;
}

div.footer p {
    margin-bottom: 0;
}
