div#off-canvas {
    background-color: #fff;
}

div#off-canvas > ul.menu {
    margin-top: 1rem;
}

div#off-canvas > ul.menu > li:first-child {
    margin-left: 1.75rem;
}

div#off-canvas > ul.menu > li {
    margin-left: 0.5rem;
}

div#off-canvas > ul.menu > li > ul.menu > li {
    margin-top: 1rem;
}

div#off-canvas > ul.menu > li > ul.menu > li > a {
    color: #000;
}

ul.menu > li > a.current-page-link {
    cursor: default;
    font-weight: bold;
}

div.title-bar {
    background-color: #bf1952;
}

div.title-bar-left > img {
    margin-left: 2rem;
}

div.top-bar {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #bf1952;
}

div.top-bar-right > ul.menu > li {
    background-color: #bf1952;
}

div.top-bar-right > ul.menu > li > a {
    color: #fff;
}

div.headliner {
    height: 600px;
}

div.headliner > div.cell:first-child p {
    margin-top: 25rem;
    font-weight: 500;
    color: #fff;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    div.headliner > div.cell:first-child p {
        line-height: 2rem;
        font-size: 2rem;
    }
}

/* medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    div.headliner > div.cell:first-child p {
        line-height: 4rem;
        font-size: 4rem;
    }
}

/* large and up */
@media screen and (min-width: 64em) {
    div.headliner > div.cell:first-child p {
        line-height: 5rem;
        font-size: 5rem;
    }
}

h1.title {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    h1.title {
        margin-top: 2.5rem;
    }
}

div.why-loyalty-section {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #d31e63;
}

/* medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    div.why-loyalty-section {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

/* large and up */
@media screen and (min-width: 64em) {
    div.why-loyalty-section {
        padding-left: 15rem;
        padding-right: 15rem;
    }
}

div.why-loyalty-section p {
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 600;
    font-style: italic;
    color: #f3a4bf;
}

div.perspective-section blockquote {
    margin-top: 1.5rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border-left: 0.6rem solid #bf1952;
    text-align: center;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    div.perspective-section blockquote {
        padding: 1rem;
    }
}

div.perspective-section blockquote p {
    margin-bottom: 0;
    font-size: 1.5rem;
}

ul.benefits-list {
    margin-top: 1.5rem;
}

div.included-item {
    margin-top: 1.5rem;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    div.included-item:first-child {
        margin-top: 2rem;
    }

    div.included-item:not(:first-child) {
        margin-top: 4rem;
    }
}

div.included-item-label-container {
    height: 5rem !important;
}

div.included-item-label {
    margin-top: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

div.included-item-quantity {
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: #787879;
    font-size: 0.95rem;
    font-weight: bold;
    color: #fff;
}

div.pricing {
    padding: 0;
}

div.pricing-top {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 150px;
    background-color: #bf1952;
    color: #fff;
}

span.pricing {
    font-size: 2.75rem;
    font-weight: bold;
}

ul.pricing-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

a.call-now {
    margin-top: 0.75rem;
    border-radius: 4px;
}

a.call-now span {
    font-weight: 900;
}

a.call-now:link,
a.call-now:visited {
    background-color: darkorange;
}

span.phone-number {
    font-weight: bold;
    color: #aa1850;
}

span.phone-number {
    font-size: 2.5rem;
}

div.footer {
    margin-top: 5rem;
    height: 100px;

    background-color: #bf1952;
    color: #fff;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    div.footer {
        margin-top: 2.5rem;
    }
}

div.footer p {
    margin-bottom: 0;
}
